// Bootstrap
@import '~bootstrap/dist/css/bootstrap.min.css';

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  text-decoration: none;
  list-style: none;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
  /* Rolagem suave considerando a altura do header*/
}

::-webkit-scrollbar {
  background: #363636;
  width: 10px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background: orangered;
  border-radius: 3px;
}
